/.externalToolBuilders
.project
*.settings/
.DS_Store
.classpath
/build
/.idea/
/logs
*target/
*.orig
*~
hbase-*/test
*.iws
*.iml
*.ipr
patchprocess/
dependency-reduced-pom.xml
**/.flattened-pom.xml
link_report/
linklint-*.zip
linklint/
.checkstyle
**/.checkstyle

# kubernetes download artifacts
*kubectl*
*checksums.txt
awscli-exe*
*aws_cli_public_key
*.tar.gz
*.sig
*.key
*.repo
*.jar
